/* You can add global styles to this file, and also import other style files */
@import "mixins.scss"; // assuming the mixin is in the same directory

body {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include flexCenter;
  color: #2a3860;
}

a {
  font-style: normal;
  text-decoration: none;
  color: #2a3860;
}
