:host {
  position: absolute;
  width: 5px;
  height: 19px;
  background-color: #394269;
  transition: transform 0.1s ease-in-out;
  // animation: fade 1s ease-in-out infinite; // Smooth fade animation

  @keyframes fade {
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
