:host {
  position: absolute;
  width: 4px;
  height: 19px;
  background-color: #394269;
  animation: fade 1.05s step-end infinite;

  @keyframes fade {
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
