@import "../../mixins.scss";

:host {
  margin-bottom: auto;
  @include flexCenter;
  border: 1px solid black;
  @include applyMaxSize;
  width: fit-content;
  margin-right: auto;
  min-width: 200px;
}
