<!-- below is the case with tokenized text with split spans for each token, so how do I access the positions now -->
@for (lineSpan of lines(); track $index) {
<div
  class="line"
  [id]="'row-' + ($index + 1)"
  [ngClass]="{ active: $index + 1 === line() }"
>
  @for (token of lineSpan.getTokens(); track $index) {
  <span [class]="token.kind">{{ token.span.text || "&nbsp;" }}</span>
  }
</div>
}

<div class="status-bar">
  <span> line: {{ line() }} </span>
  <span> column: {{ column() }} </span>
</div>

<app-cursor [x]="cursorX" [y]="cursorY" [width]="2" [height]="18"></app-cursor>
