@for (lineSpan of lines(); track $index) {
<div class="line" [ngClass]="{ active: $index + 1 === line() }">
  <div class="line-number">
    {{ $index + 1 }}
  </div>
  <div class="line-text" [id]="'row-' + ($index + 1)">
    {{ lineSpan.text }} &nbsp;
  </div>
</div>
}
<div class="status-bar">
  <span> line: {{ line() }} </span>
  <span> column: {{ column() }} </span>
</div>
<app-cursor [x]="cursorX" [y]="cursorY" [width]="2" [height]="18"></app-cursor>

<br />
<br />
<br />

@for (line of lines(); track $index) {
<div class="line">
  @for (token of line.getTokens(); track $index) {
  <span [class]="token.kind">{{ token.span.text }}</span>
  }
</div>
}
