<div class="space">
  <div class="numbers">
    @for (lineSpan of lines(); track $index) {
    <div class="number" [ngClass]="{ 'active-number': isActive($index) }">
      {{ $index + 1 }}
    </div>
    }
  </div>
  <div class="lines">
    @for (lineSpan of lines(); track $index) {
    <div
      class="line"
      [id]="'row-' + ($index + 1)"
      [ngClass]="{ 'active-line': isActive($index) }"
    >
      @for (token of lineSpan.getTokens(); track $index) {
      <span [class]="token.class">{{ token.span.text || "&nbsp;" }}</span>
      }
    </div>
    }
  </div>
</div>
<div class="status">line {{ line() }} column {{ column() }}</div>
@if (error()) {
<div class="diagnotics">
  @for (d of diagnostics(); track $index) {
  <div [textContent]="d.span.address + ' ' + d.message"></div>
  }
</div>
}
<app-cursor [x]="cursorX" [y]="cursorY" [width]="2" [height]="15"></app-cursor>
