@import "../../mixins.scss";

:host {
  display: flex;
  white-space: pre;
  flex-direction: column;
  // border: 1px solid black;
  cursor: default;
  padding: 21px;
  border-radius: 4px;
  min-width: 700px;
  font-size: 14px;
  font-family: monospace;
  user-select: none;
  background-color: #ffffff;
  font-family: SuisseIntl-Regular, Helvetica, Arial, sans-serif;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.line-borders {
  border-bottom: 1px solid #dfe1e5;
  border-inline: 1px solid #dfe1e5;
  &:first-child {
    border-top: 1px solid #dfe1e5;
  }
}

.line {
  display: flex;
  flex-direction: row;
  height: 16px;
  background-color: #f6f6f6;
}

.active {
  outline: 1px solid #dfe1e5;
}

.status-bar {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  font-family: SuisseIntl-Regular, Helvetica, Arial, sans-serif;
}

.identifier-token {
  color: #0d0d8e;
}

.number-token {
  color: #0d0d8e;
}

.comment-trivia {
  color: #d24d21;
}

.diagnostics {
  margin-top: 20px;
  // border-top: 1px solid #a0a1a7;
  font-family: SuisseIntl-Regular, Helvetica, Arial, sans-serif;
  background-color: #f6f6f6;
  padding: 7px 14px;
  padding-left: 7px;
}

.diagnostic {
  margin-bottom: 4px;
}

.colors {
  user-select: none;
  outline: none;
  padding: 5px 7px;
  @include flexCenter;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
  margin-left: auto;
  opacity: 0.3;
  margin-top: 10px;
  border-radius: 3px;

  &:active {
    box-shadow: none;
    color: black;
  }

  &:hover {
    transition: opacity 0.2s ease, background-color 0.1s ease,
      box-shadow 0.1s ease;
    opacity: 1;
  }
}

.line-numbers {
  // outline: 1px solid red;
  width: fit-content;
  min-width: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.line-number {
  // outline: 1px solid purple;
  display: flex;
  box-sizing: border-box;
  padding-inline: 2px;
  height: 16px;
  background-color: #f6f6f6;
  padding-left: 7px;
}

.editor-space {
  // outline: 1px solid blue;
  width: 100%;
}
