.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.scope {
  position: absolute;
  left: 0;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: nowrap;
  user-select: none;
  justify-content: left;
  background-color: #f3f4f8;
  @extend .shadow;
}

.connection {
  // border: 1px solid lightseagreen;
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  margin-right: auto;
  padding-left: 7px;
  width: 100%;
  height: 25px;
}

.set {
  display: flex;
  flex-direction: row;
  border: 1px solid lightblue;
  align-items: center;
  width: fit-content;
  margin-left: 7px;
}

.node {
  display: flex;
  margin: 3px;
  align-items: center;
  width: fit-content;
  height: 100%;
}
