.draggable {
  //
  outline: 1px solid gold;
  padding: 1px;
  position: absolute;
}

.coordinates {
  position: relative;
  display: flex;
  color: white;
  background-color: black;
  padding: 1px 4px;
  margin-left: auto;
  width: fit-content;
  user-select: none;
}
