@import "../index.scss";

* {
  color: black;
}

.input {
  display: flex;
  flex-direction: column;
  @include center;
  height: fit-content;
  width: fit-content;
  margin-top: 5%;
  border: 7px solid #0a0a0a;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 350px;
  height: 700px;
  // padding: 5px;
  scale: 1.1;
  user-select: none;
  padding: 2px;
  background-color: #fdeadb;
}

.textArea {
  outline: none;
  font-family: inherit;
  resize: none;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  padding: 14px;
  padding-top: 40px;
  border-radius: 40px;
  z-index: 3;
  text-shadow: 0px 0px 1px gray;
  background-color: #fdeadb;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.diagnostics {
  flex-direction: column;
  min-height: 30%;
  width: 100%;
  padding-top: 20px;
  padding-inline: 15px;
  border-radius: 40px;
  padding-bottom: 20px;
  height: fit-content;
  overflow-y: hidden;
  max-height: 35%;
  background-color: #fdeadb;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #000000ad;
  border-top: none;
}

.diagnosticsContainer {
  flex-direction: column;
  min-height: 30%;
  width: 100%;
  height: fit-content;
  // background-color: #fca66c4d;
  background-color: transparent;
  overflow-y: hidden;
  max-height: 100%;
  padding-top: 20px;
}

.diagnostic {
  display: flex;
  justify-content: start;
  width: 100%;
  text-shadow: 0px 0px 1px gray;
  overflow: hidden;
  box-sizing: border-box;
  height: fit-content;
  padding-bottom: 1px;
  margin-bottom: 1px;
}

.diagnosticsLocation {
  padding-inline: 7px;
  justify-content: left;
  display: flex;
  min-width: 40px;
}

.value {
  display: flex;
  @include center;
  text-shadow: 0px 0px 1px gray;
}

textarea {
  &::selection {
    color: #313131;
    background-color: #d2d4da;
  }
  // code for firefox
  &::-moz-selection {
    color: #313131;
    background-color: #d2d4da;
  }
}

.curve {
  position: absolute;
  background-color: #0a0a0a;
  height: 3.5%;
  width: 40%;
  top: -0.5%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 20;
}

.buttonTop {
  position: absolute;
  background-color: #0a0a0a;
  height: 55px;
  width: 8px;
  z-index: 20;
  left: -11px;
  top: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.buttonBottom {
  @extend .buttonTop;
  top: 165px;
}
