@import "../index.scss";

$ground: #f4f3f8;

* {
  color: #010000;
}

.input {
  display: flex;
  flex-direction: column;
  @include center;
  height: fit-content;
  width: fit-content;
  margin-top: 5%;
  border: 5px solid #0a0a0a;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 350px;
  height: 700px;
  padding: 8px;
  scale: 1.1;
  user-select: none;
}

.textArea {
  outline: none;
  font-family: inherit;
  resize: none;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  padding: 14px;
  padding-top: 40px;
  border-radius: 30px;
  margin-bottom: 7px;
  z-index: 3;
  text-shadow: 0px 0px 1px gray;
  background: linear-gradient(to top, #cbd8eb50, #cbd8eb98);
}

.diagnostics {
  flex-direction: column;
  min-height: 30%;
  width: 100%;
  padding-top: 20px;
  padding-inline: 15px;
  border-radius: 30px;
  padding-bottom: 20px;
  height: fit-content;
  font-family: "Roboto";
  // background-color: #fca66c4d;
  overflow-y: hidden;
  max-height: 35%;
  background-color: #cbd8eb50;
}

.diagnosticsContainer {
  flex-direction: column;
  min-height: 30%;
  width: 100%;
  height: fit-content;
  font-family: "Roboto";
  // background-color: #fca66c4d;
  background-color: transparent;
  overflow-y: hidden;
  max-height: 100%;
  padding-top: 20px;
}

.diagnostic {
  display: flex;
  justify-content: start;
  width: 100%;
  text-shadow: 0px 0px 1px gray;
  overflow: hidden;
  box-sizing: border-box;
  height: fit-content;
  padding-bottom: 1px;
}

.diagnosticsLocation {
  padding-inline: 7px;
  justify-content: left;
  display: flex;
  min-width: 43px;
}

.value {
  display: flex;
  @include center;
  text-shadow: 0px 0px 1px gray;
}

textarea {
  &::selection {
    color: #313131;
    background-color: #cbd8eb;
  }
  // code for firefox
  &::-moz-selection {
    color: #313131;
    background-color: #cbd8eb;
  }
  background-color: #cbd8eb;
}
