.stack {
  display: flex;
  border: 1px solid purple;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  text-wrap: nowrap;
  background-color: #f3f4f8;
}

.observers {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  min-width: 30px;
  min-height: 30px;
  margin: 1px;
}

.observer {
  border: 1px solid lightblue;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 2px 5px;
  &:not(:last-child) {
    margin-bottom: 1px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button {
  display: flex;
  padding: 2px 7px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 1px;
}
