.Node {
  display: flex;
  width: auto;
  box-sizing: border-box;
  min-width: 27px;
  min-height: 27px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.678);
  background-color: honeydew;
  margin-bottom: 0px;
  margin: 0.5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  border-radius: 3px;
}

.BoundCompilationUnit {
  flex-direction: column;
  left: 10px;
  top: 10px;
  height: fit-content;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  justify-content: left;
  align-items: left;
  user-select: none;
  padding: 0;
}

.Statement {
  @extend .Node;
  min-width: 100px;
  justify-content: left;
  align-items: left;
  margin-bottom: 3px;
  padding: 1px;
  border: none;
}

.BoundNumericLiteral {
  // border: 1px solid lightcoral;
  justify-content: center;
  align-items: center;
  padding: 1px 7px;
  @extend .Node;
}

.BoundCellReference {
  flex-direction: row;
  @extend .Node;
  // border: none;
  background-color: lightgoldenrodyellow;
}

.BoundCell {
  @extend .Node;
}

.BoundCellAssignment {
  display: flex;
  flex-direction: row;
}

.BoundBinaryExpression {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BoundUnaryExpression {
  @extend .BoundBinaryExpression;
}

.BoundErrorExpression {
  padding: 1px 7px;
  @extend .Node;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Observers {
  @extend .Node;
  height: auto;
  flex-direction: column;
  min-width: 70px;
  padding: 1px;
}

.ObserversTitle {
  display: flex;
  font-size: 11px;
  padding-inline: 4px;
  // margin-bottom: 4px;
}

.ObserversList {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: auto;
}

.BoundIdentifier {
  @extend .BoundNumericLiteral;
  border: none;
}
