.Node {
  font-family: "Roboto";
  font-size: 14px;
  width: auto;
  box-sizing: border-box;
}

.BoundCompilationUnit {
  display: flex;
  flex-direction: column;
  left: 1%;
  height: fit-content;
  top: 3%;
  position: absolute;
  cursor: pointer;
  @extend .Node;
  background-color: transparent;
  padding: 5px;
}

.Statement {
  @extend .Node;
  display: flex;
  border: 1px solid #474745;
  min-width: 100px;
  margin-bottom: 1px;
  padding: 3px;
}

.BoundNumericLiteral {
  display: flex;
  // border: 1px solid lightcoral;
  margin: 1px;
  justify-content: center;
  align-items: center;
  padding: 1px 7px;
  border: 1px solid #474745;
  @extend .Node;
}

.BoundCell {
  display: flex;
  flex-direction: row;
  margin: 1px;
  margin-bottom: none;
  @extend .Node;
  // color: white;
  padding: 4px;
  border: 1px solid #474745;
  background-color: #e6e5eb;
}

.BoundCellReference {
  border: 1px solid #474745;
  display: flex;
  flex-direction: row;
  padding: 1px 3px;
  margin: 1px;
  margin-bottom: none;
  @extend .Node;
}

.BoundCellAssignment {
  display: flex;
  flex-direction: row;
}

.BoundCellName {
  padding: 4px;
}

.BoundBinaryExpression {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BoundErrorExpression {
  // border: 1px solid #474745;
  margin: 1px;
  padding: 1px 7px;
  // background-color: black;
  @extend .Node;
}
