@import "../../mixins.scss";

:host {
  margin-bottom: auto;
  @include flexCenter;
  @include applyMaxSize;
  height: fit-content;
  padding-block: 21px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button {
  user-select: none;
  outline: none;
  padding: 2px 4px;
  margin-right: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
  min-width: 70px;
  border-radius: 5px;
  border: 1px solid #807d7c;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
