@import "../../mixins.scss";

:host {
  margin-bottom: auto;
  @include flexCenter;
  @include applyMaxSize;
  height: fit-content;
  padding-block: 21px;
  // border-bottom: 1px solid #dfe1e5;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.routing-button {
  user-select: none;
  outline: none;
  padding: 5px 7px;
  border-radius: 3px;
  @include flexCenter;
  margin-right: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
  // border: 1px solid;
  min-width: 70px;
  background-color: white;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  &:active {
    opacity: 0.7;
    box-shadow: none;
    color: black;
  }
}
