@import "../../mixins.scss";

:host {
  margin-bottom: auto;
  @include flexCenter;
  @include applyMaxSize;
  height: fit-content;
  padding-block: 21px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.routing-button {
  user-select: none;
  outline: none;
  padding: 5px 7px;
  @include flexCenter;
  margin-right: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
  min-width: 70px;
  background-color: #e2e7ea;
}
