@import "../index.scss";

.input {
  display: flex;
  flex-direction: column;
  @include center;
  height: fit-content;
  width: fit-content;
  margin-top: 5%;
  border: 5px solid #0a0a0a;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 350px;
  height: 700px;
  padding: 8px;
  scale: 1.1;
  user-select: none;
}

.textArea {
  outline: none;
  font-family: inherit;
  resize: none;
  font-size: 13px;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  padding: 14px;
  padding-top: 40px;
  border-radius: 20px;
  margin-bottom: 11px;
  z-index: 3;
  text-shadow: 0px 0px 1px gray;
  &::selection {
    background-color: whitesmoke;
  }
}

.diagnostics {
  flex-direction: column;
  min-height: 30%;
  width: 100%;
  padding-block: 40px;
  padding-inline: 15px;
  border-radius: 30px;
  height: fit-content;
  font-family: "Roboto";
  font-size: 11px;
  // background-color: #fca66c4d;
  background-color: whitesmoke;
}

.diagnostic {
  display: flex;
  justify-content: start;
  width: 100%;
  text-shadow: 0px 0px 1px gray;
}

.value {
  width: 100%;
  padding-block: 40px;
  padding-inline: 15px;
  border-radius: 30px;
  height: fit-content;
  font-size: 11px;
  @include center;
  background-color: whitesmoke;
  text-shadow: 0px 0px 1px gray;
}
