body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f8;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 14px;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
